-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."abonos" (
    "idabono" SERIAL NOT NULL,
    "idpedido" INTEGER,
    "metodopago" VARCHAR(20),
    "idimagen" INTEGER,
    "cantidadpagar" DECIMAL(10,2),
    "TotalPagado" DECIMAL(10,2),

    CONSTRAINT "abonos_pkey" PRIMARY KEY ("idabono")
);

-- CreateTable
CREATE TABLE "public"."catalogoadiciones" (
    "idadiciones" SERIAL NOT NULL,
    "idinsumos" INTEGER,
    "nombre" VARCHAR(20),
    "precioadicion" DECIMAL(10,2),
    "estado" BOOLEAN,

    CONSTRAINT "catalogoadiciones_pkey" PRIMARY KEY ("idadiciones")
);

-- CreateTable
CREATE TABLE "public"."catalogorelleno" (
    "idrelleno" SERIAL NOT NULL,
    "nombre" VARCHAR(20),
    "precioadicion" DECIMAL(10,2),
    "idinsumos" INTEGER,
    "estado" BOOLEAN,

    CONSTRAINT "catalogorelleno_pkey" PRIMARY KEY ("idrelleno")
);

-- CreateTable
CREATE TABLE "public"."catalogosabor" (
    "idsabor" SERIAL NOT NULL,
    "nombre" VARCHAR(20),
    "precioadicion" DECIMAL(10,2),
    "idinsumos" INTEGER,
    "estado" BOOLEAN,

    CONSTRAINT "catalogosabor_pkey" PRIMARY KEY ("idsabor")
);

-- CreateTable
CREATE TABLE "public"."categoriainsumos" (
    "idcategoriainsumos" SERIAL NOT NULL,
    "nombrecategoria" VARCHAR(20),
    "descripcion" VARCHAR(50),
    "estado" BOOLEAN,

    CONSTRAINT "categoriainsumos_pkey" PRIMARY KEY ("idcategoriainsumos")
);

-- CreateTable
CREATE TABLE "public"."categoriaproducto" (
    "idcategoriaproducto" SERIAL NOT NULL,
    "nombrecategoria" VARCHAR(20) NOT NULL,
    "descripcion" VARCHAR(50) NOT NULL,
    "estado" BOOLEAN NOT NULL DEFAULT true,
    "idimagencat" INTEGER,

    CONSTRAINT "categoriaproducto_pkey" PRIMARY KEY ("idcategoriaproducto")
);

-- CreateTable
CREATE TABLE "public"."cliente" (
    "idcliente" SERIAL NOT NULL,
    "tipodocumento" VARCHAR(20),
    "numerodocumento" VARCHAR(20),
    "nombre" VARCHAR(10),
    "apellido" VARCHAR(10),
    "correo" VARCHAR(100),
    "hashcontrasena" VARCHAR(20),
    "direccion" VARCHAR(30),
    "barrio" VARCHAR(20),
    "ciudad" VARCHAR(20),
    "fechanacimiento" DATE,
    "celular" VARCHAR(20),
    "estado" BOOLEAN,

    CONSTRAINT "cliente_pkey" PRIMARY KEY ("idcliente")
);

-- CreateTable
CREATE TABLE "public"."compra" (
    "idcompra" SERIAL NOT NULL,
    "idproveedor" INTEGER,
    "fecharegistro" DATE,
    "fechacompra" DATE,
    "subtotal" DECIMAL(10,2),
    "iva" DECIMAL(10,2),
    "total" DECIMAL(10,2),
    "estado" BOOLEAN DEFAULT true,

    CONSTRAINT "compra_pkey" PRIMARY KEY ("idcompra")
);

-- CreateTable
CREATE TABLE "public"."detalleadiciones" (
    "idadicion" SERIAL NOT NULL,
    "iddetalleventa" INTEGER,
    "idadiciones" INTEGER,
    "cantidadadicionada" DECIMAL(10,2),
    "preciounitario" DECIMAL(10,2),
    "total" DECIMAL(10,2),
    "idsabor" INTEGER,
    "idrelleno" INTEGER,

    CONSTRAINT "detalleadiciones_pkey" PRIMARY KEY ("idadicion")
);

-- CreateTable
CREATE TABLE "public"."detallecompra" (
    "iddetallecompra" SERIAL NOT NULL,
    "idcompra" INTEGER,
    "idinsumos" INTEGER,
    "cantidad" DECIMAL(10,2),
    "preciounitario" DECIMAL(10,2),
    "subtotalproducto" DECIMAL(10,2),

    CONSTRAINT "detallecompra_pkey" PRIMARY KEY ("iddetallecompra")
);

-- CreateTable
CREATE TABLE "public"."detalleproduccion" (
    "iddetalleproduccion" SERIAL NOT NULL,
    "idproductogeneral" INTEGER,
    "idproduccion" INTEGER,
    "cantidadproducto" DECIMAL(10,2),
    "sede" VARCHAR(50),

    CONSTRAINT "detalleproduccion_pkey" PRIMARY KEY ("iddetalleproduccion")
);

-- CreateTable
CREATE TABLE "public"."detallereceta" (
    "iddetallereceta" SERIAL NOT NULL,
    "idreceta" INTEGER,
    "idinsumo" INTEGER,
    "idunidadmedida" INTEGER,
    "cantidad" DECIMAL(10,2),

    CONSTRAINT "detallereceta_pkey" PRIMARY KEY ("iddetallereceta")
);

-- CreateTable
CREATE TABLE "public"."detalleventa" (
    "iddetalleventa" SERIAL NOT NULL,
    "idventa" INTEGER,
    "idproductogeneral" INTEGER,
    "cantidad" INTEGER,
    "preciounitario" DECIMAL(10,2),
    "subtotal" DECIMAL(15,2),
    "iva" DECIMAL(10,2),

    CONSTRAINT "detalleventa_pkey" PRIMARY KEY ("iddetalleventa")
);

-- CreateTable
CREATE TABLE "public"."estadoproduccion" (
    "idestado" SERIAL NOT NULL,
    "nombreestado" VARCHAR(20),

    CONSTRAINT "estadoproduccion_pkey" PRIMARY KEY ("idestado")
);

-- CreateTable
CREATE TABLE "public"."imagenes" (
    "idimagen" SERIAL NOT NULL,
    "urlimg" VARCHAR(150),

    CONSTRAINT "imagenes_pkey" PRIMARY KEY ("idimagen")
);

-- CreateTable
CREATE TABLE "public"."insumos" (
    "idinsumo" SERIAL NOT NULL,
    "nombreinsumo" VARCHAR(20),
    "idcategoriainsumos" INTEGER,
    "idunidadmedida" INTEGER,
    "fecharegistro" DATE,
    "idimagen" INTEGER,
    "estado" BOOLEAN,
    "cantidad" DECIMAL(10,2),
    "precio" DECIMAL(10,2),

    CONSTRAINT "insumos_pkey" PRIMARY KEY ("idinsumo")
);

-- CreateTable
CREATE TABLE "public"."pedido" (
    "idpedido" SERIAL NOT NULL,
    "idventa" INTEGER,
    "observaciones" VARCHAR(100),
    "fechaentrega" DATE,

    CONSTRAINT "pedido_pkey" PRIMARY KEY ("idpedido")
);

-- CreateTable
CREATE TABLE "public"."permisos" (
    "idpermiso" SERIAL NOT NULL,
    "modulo" VARCHAR(15),
    "descripcion" VARCHAR(30),
    "estado" BOOLEAN DEFAULT true,

    CONSTRAINT "permisos_pkey" PRIMARY KEY ("idpermiso")
);

-- CreateTable
CREATE TABLE "public"."produccion" (
    "idproduccion" SERIAL NOT NULL,
    "fechapedido" TIMESTAMP(3),
    "fechaentrega" TIMESTAMP(3),
    "numeropedido" TEXT,
    "estadoproduccion" INTEGER NOT NULL DEFAULT 2,
    "TipoProduccion" TEXT NOT NULL,
    "nombreproduccion" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estadopedido" INTEGER,
    "updatedAt" TIMESTAMP(3),

    CONSTRAINT "produccion_pkey" PRIMARY KEY ("idproduccion")
);

-- CreateTable
CREATE TABLE "public"."inventariosede" (
    "idinventariosede" SERIAL NOT NULL,
    "idproductogeneral" INTEGER NOT NULL,
    "idsede" INTEGER NOT NULL,
    "cantidad" DECIMAL(10,2) NOT NULL,
    "fechaactualizacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "inventariosede_pkey" PRIMARY KEY ("idinventariosede")
);

-- CreateTable
CREATE TABLE "public"."produccion_estado" (
    "idproduccion" INTEGER NOT NULL,
    "idestado" INTEGER NOT NULL,

    CONSTRAINT "produccion_estado_pkey" PRIMARY KEY ("idproduccion","idestado")
);

-- CreateTable
CREATE TABLE "public"."productogeneral" (
    "idproductogeneral" SERIAL NOT NULL,
    "nombreproducto" VARCHAR(20),
    "precioproducto" DECIMAL(10,2),
    "cantidadproducto" DECIMAL(10,2),
    "estado" BOOLEAN,
    "idcategoriaproducto" INTEGER,
    "idimagen" INTEGER,
    "idreceta" INTEGER,

    CONSTRAINT "productogeneral_pkey" PRIMARY KEY ("idproductogeneral")
);

-- CreateTable
CREATE TABLE "public"."configuracionproducto" (
    "idconfiguracion" SERIAL NOT NULL,
    "idproductogeneral" INTEGER NOT NULL,
    "tipopersonalizacion" VARCHAR(50) NOT NULL,
    "limitetopping" INTEGER DEFAULT 0,
    "limitesalsa" INTEGER DEFAULT 0,
    "limiterelleno" INTEGER DEFAULT 0,
    "limitesabor" INTEGER DEFAULT 0,
    "permitetoppings" BOOLEAN DEFAULT false,
    "permitesalsas" BOOLEAN DEFAULT false,
    "permiteadiciones" BOOLEAN DEFAULT true,
    "permiterellenos" BOOLEAN DEFAULT false,
    "permitesabores" BOOLEAN DEFAULT false,

    CONSTRAINT "configuracionproducto_pkey" PRIMARY KEY ("idconfiguracion")
);

-- CreateTable
CREATE TABLE "public"."proveedor" (
    "idproveedor" SERIAL NOT NULL,
    "tipodocumento" VARCHAR(50),
    "documento" VARCHAR(30),
    "nombreempresa" VARCHAR(50),
    "nombreproveedor" VARCHAR(50),
    "contacto" VARCHAR(30),
    "correo" VARCHAR(50),
    "direccion" VARCHAR(30),
    "estado" BOOLEAN,
    "TipoProveedor" VARCHAR(20),

    CONSTRAINT "proveedor_pkey" PRIMARY KEY ("idproveedor")
);

-- CreateTable
CREATE TABLE "public"."receta" (
    "idreceta" SERIAL NOT NULL,
    "nombrereceta" VARCHAR(50),
    "especificaciones" VARCHAR(80),

    CONSTRAINT "receta_pkey" PRIMARY KEY ("idreceta")
);

-- CreateTable
CREATE TABLE "public"."rol" (
    "idrol" SERIAL NOT NULL,
    "rol" VARCHAR(20),
    "descripcion" VARCHAR(30),
    "estado" BOOLEAN DEFAULT true,

    CONSTRAINT "rol_pkey" PRIMARY KEY ("idrol")
);

-- CreateTable
CREATE TABLE "public"."rolpermiso" (
    "idrolpermiso" SERIAL NOT NULL,
    "idrol" INTEGER,
    "idpermiso" INTEGER,
    "estado" BOOLEAN DEFAULT true,

    CONSTRAINT "rolpermiso_pkey" PRIMARY KEY ("idrolpermiso")
);

-- CreateTable
CREATE TABLE "public"."sede" (
    "idsede" SERIAL NOT NULL,
    "nombre" VARCHAR(20),
    "telefono" VARCHAR(20),
    "direccion" VARCHAR(20),
    "estado" BOOLEAN,
    "imagenUrl" VARCHAR(255),

    CONSTRAINT "sede_pkey" PRIMARY KEY ("idsede")
);

-- CreateTable
CREATE TABLE "public"."unidadmedida" (
    "idunidadmedida" SERIAL NOT NULL,
    "unidadmedida" VARCHAR(20),
    "formademedir" VARCHAR(30),
    "equivalente" INTEGER,

    CONSTRAINT "unidadmedida_pkey" PRIMARY KEY ("idunidadmedida")
);

-- CreateTable
CREATE TABLE "public"."usuarios" (
    "idusuario" SERIAL NOT NULL,
    "tipodocumento" VARCHAR(10),
    "documento" INTEGER,
    "nombre" VARCHAR(20),
    "apellido" VARCHAR(20),
    "correo" VARCHAR(100),
    "hashcontrasena" VARCHAR(15),
    "idrol" INTEGER,
    "estado" BOOLEAN DEFAULT true,

    CONSTRAINT "usuarios_pkey" PRIMARY KEY ("idusuario")
);

-- CreateTable
CREATE TABLE "public"."venta" (
    "idventa" SERIAL NOT NULL,
    "fechaventa" DATE,
    "cliente" INTEGER,
    "idsede" INTEGER,
    "metodopago" VARCHAR(20),
    "tipoventa" VARCHAR(20),
    "total" DECIMAL(10,2),
    "estadoVentaId" INTEGER,

    CONSTRAINT "venta_pkey" PRIMARY KEY ("idventa")
);

-- CreateTable
CREATE TABLE "public"."estadoventa" (
    "idestadoventa" SERIAL NOT NULL,
    "nombre_estado" VARCHAR(50) NOT NULL,

    CONSTRAINT "estadoventa_pkey" PRIMARY KEY ("idestadoventa")
);

-- CreateIndex
CREATE UNIQUE INDEX "categoriaproducto_nombrecategoria_key" ON "public"."categoriaproducto"("nombrecategoria");

-- CreateIndex
CREATE INDEX "inventariosede_idproductogeneral_idx" ON "public"."inventariosede"("idproductogeneral");

-- CreateIndex
CREATE INDEX "inventariosede_idsede_idx" ON "public"."inventariosede"("idsede");

-- CreateIndex
CREATE UNIQUE INDEX "inventariosede_idproductogeneral_idsede_key" ON "public"."inventariosede"("idproductogeneral", "idsede");

-- CreateIndex
CREATE UNIQUE INDEX "configuracionproducto_idproductogeneral_key" ON "public"."configuracionproducto"("idproductogeneral");

-- CreateIndex
CREATE INDEX "idx_configuracion_producto" ON "public"."configuracionproducto"("idproductogeneral");

-- CreateIndex
CREATE INDEX "rol_rol_idx" ON "public"."rol"("rol");

-- CreateIndex
CREATE INDEX "rolpermiso_idrol_idx" ON "public"."rolpermiso"("idrol");

-- CreateIndex
CREATE INDEX "rolpermiso_idpermiso_idx" ON "public"."rolpermiso"("idpermiso");

-- CreateIndex
CREATE UNIQUE INDEX "rolpermiso_idrol_idpermiso_key" ON "public"."rolpermiso"("idrol", "idpermiso");

-- CreateIndex
CREATE INDEX "usuarios_idrol_idx" ON "public"."usuarios"("idrol");

-- AddForeignKey
ALTER TABLE "public"."abonos" ADD CONSTRAINT "abonos_idimagen_fkey" FOREIGN KEY ("idimagen") REFERENCES "public"."imagenes"("idimagen") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."abonos" ADD CONSTRAINT "abonos_idpedido_fkey" FOREIGN KEY ("idpedido") REFERENCES "public"."pedido"("idpedido") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."catalogoadiciones" ADD CONSTRAINT "catalogoadiciones_idinsumos_fkey" FOREIGN KEY ("idinsumos") REFERENCES "public"."insumos"("idinsumo") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."catalogorelleno" ADD CONSTRAINT "catalogorelleno_idinsumos_fkey" FOREIGN KEY ("idinsumos") REFERENCES "public"."insumos"("idinsumo") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."catalogosabor" ADD CONSTRAINT "catalogosabor_idinsumos_fkey" FOREIGN KEY ("idinsumos") REFERENCES "public"."insumos"("idinsumo") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."categoriaproducto" ADD CONSTRAINT "categoriaproducto_idimagencat_fkey" FOREIGN KEY ("idimagencat") REFERENCES "public"."imagenes"("idimagen") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."compra" ADD CONSTRAINT "compra_idproveedor_fkey" FOREIGN KEY ("idproveedor") REFERENCES "public"."proveedor"("idproveedor") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detalleadiciones" ADD CONSTRAINT "detalleadiciones_idadiciones_fkey" FOREIGN KEY ("idadiciones") REFERENCES "public"."catalogoadiciones"("idadiciones") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detalleadiciones" ADD CONSTRAINT "detalleadiciones_iddetalleventa_fkey" FOREIGN KEY ("iddetalleventa") REFERENCES "public"."detalleventa"("iddetalleventa") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detalleadiciones" ADD CONSTRAINT "detalleadiciones_idrelleno_fkey" FOREIGN KEY ("idrelleno") REFERENCES "public"."catalogorelleno"("idrelleno") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detalleadiciones" ADD CONSTRAINT "detalleadiciones_idsabor_fkey" FOREIGN KEY ("idsabor") REFERENCES "public"."catalogosabor"("idsabor") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detallecompra" ADD CONSTRAINT "detallecompra_idcompra_fkey" FOREIGN KEY ("idcompra") REFERENCES "public"."compra"("idcompra") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detallecompra" ADD CONSTRAINT "detallecompra_idinsumos_fkey" FOREIGN KEY ("idinsumos") REFERENCES "public"."insumos"("idinsumo") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detalleproduccion" ADD CONSTRAINT "detalleproduccion_idproduccion_fkey" FOREIGN KEY ("idproduccion") REFERENCES "public"."produccion"("idproduccion") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detalleproduccion" ADD CONSTRAINT "detalleproduccion_idproductogeneral_fkey" FOREIGN KEY ("idproductogeneral") REFERENCES "public"."productogeneral"("idproductogeneral") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detallereceta" ADD CONSTRAINT "detallereceta_idinsumo_fkey" FOREIGN KEY ("idinsumo") REFERENCES "public"."insumos"("idinsumo") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detallereceta" ADD CONSTRAINT "detallereceta_idreceta_fkey" FOREIGN KEY ("idreceta") REFERENCES "public"."receta"("idreceta") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detallereceta" ADD CONSTRAINT "detallereceta_idunidadmedida_fkey" FOREIGN KEY ("idunidadmedida") REFERENCES "public"."unidadmedida"("idunidadmedida") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detalleventa" ADD CONSTRAINT "detalleventa_idproductogeneral_fkey" FOREIGN KEY ("idproductogeneral") REFERENCES "public"."productogeneral"("idproductogeneral") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."detalleventa" ADD CONSTRAINT "detalleventa_idventa_fkey" FOREIGN KEY ("idventa") REFERENCES "public"."venta"("idventa") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."insumos" ADD CONSTRAINT "insumos_idcategoriainsumos_fkey" FOREIGN KEY ("idcategoriainsumos") REFERENCES "public"."categoriainsumos"("idcategoriainsumos") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."insumos" ADD CONSTRAINT "insumos_idimagen_fkey" FOREIGN KEY ("idimagen") REFERENCES "public"."imagenes"("idimagen") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."insumos" ADD CONSTRAINT "insumos_idunidadmedida_fkey" FOREIGN KEY ("idunidadmedida") REFERENCES "public"."unidadmedida"("idunidadmedida") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."pedido" ADD CONSTRAINT "pedido_idventa_fkey" FOREIGN KEY ("idventa") REFERENCES "public"."venta"("idventa") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."inventariosede" ADD CONSTRAINT "inventariosede_idproductogeneral_fkey" FOREIGN KEY ("idproductogeneral") REFERENCES "public"."productogeneral"("idproductogeneral") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."inventariosede" ADD CONSTRAINT "inventariosede_idsede_fkey" FOREIGN KEY ("idsede") REFERENCES "public"."sede"("idsede") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."produccion_estado" ADD CONSTRAINT "produccion_estado_idestado_fkey" FOREIGN KEY ("idestado") REFERENCES "public"."estadoproduccion"("idestado") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."produccion_estado" ADD CONSTRAINT "produccion_estado_idproduccion_fkey" FOREIGN KEY ("idproduccion") REFERENCES "public"."produccion"("idproduccion") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."productogeneral" ADD CONSTRAINT "productogeneral_idcategoriaproducto_fkey" FOREIGN KEY ("idcategoriaproducto") REFERENCES "public"."categoriaproducto"("idcategoriaproducto") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."productogeneral" ADD CONSTRAINT "productogeneral_idimagen_fkey" FOREIGN KEY ("idimagen") REFERENCES "public"."imagenes"("idimagen") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."productogeneral" ADD CONSTRAINT "productogeneral_idreceta_fkey" FOREIGN KEY ("idreceta") REFERENCES "public"."receta"("idreceta") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."configuracionproducto" ADD CONSTRAINT "configuracionproducto_idproductogeneral_fkey" FOREIGN KEY ("idproductogeneral") REFERENCES "public"."productogeneral"("idproductogeneral") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."rolpermiso" ADD CONSTRAINT "rolpermiso_idpermiso_fkey" FOREIGN KEY ("idpermiso") REFERENCES "public"."permisos"("idpermiso") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."rolpermiso" ADD CONSTRAINT "rolpermiso_idrol_fkey" FOREIGN KEY ("idrol") REFERENCES "public"."rol"("idrol") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."usuarios" ADD CONSTRAINT "usuarios_idrol_fkey" FOREIGN KEY ("idrol") REFERENCES "public"."rol"("idrol") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."venta" ADD CONSTRAINT "venta_cliente_fkey" FOREIGN KEY ("cliente") REFERENCES "public"."cliente"("idcliente") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."venta" ADD CONSTRAINT "venta_estadoVentaId_fkey" FOREIGN KEY ("estadoVentaId") REFERENCES "public"."estadoventa"("idestadoventa") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."venta" ADD CONSTRAINT "venta_idsede_fkey" FOREIGN KEY ("idsede") REFERENCES "public"."sede"("idsede") ON DELETE NO ACTION ON UPDATE NO ACTION;

